<h1>Message from cadebaccus.com</h1>

<p>
  <h3>From:</h3> <%= @contact.name %>, <%= @contact.email %>
</p>

<p>
  <h3>Subject:</h3> <%= @contact.subject %>
</p>

<p>
  <h3>Message:</h3> <%= @contact.message %>
</p>